html{
  font-size: 20px;
}
body{
  font-family: 'Arial', 'Meiryo', sans-serif; 
  text-align: center;
}
h1{
  font-size: 2rem;
  letter-spacing: 1.2em;
  text-shadow: 2px 2px 2px gray;
  border-bottom: solid 3px rgb(115, 115, 114) ;
  .text-color-p{color:rgb(255, 192, 203);}
  .text-color-b{color:skyblue}

/* ã€€google font */
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;


}


h2{

  .text-color-p{color:rgb(255, 192, 203);}

  .text-color-b{ color:skyblue}
}
#basic div > p {
font-weight: bold;
}

 